*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;


}

html:not(footer){
    background-color: whitesmoke;
}


.bold{
    font-weight: 700;
}

#header{
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
}


#nav-bar{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;   
}

#nav-bar div{
    width: 10%;
}

#nav-bar div img{
    height: 50px;
    margin-left: 20px;
}
#nav-bar ul {
    width: 90%;
    display: flex;
    padding: 2px;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
 }
 #nav-bar ul li{
    margin: 0 0.8rem;
    list-style: none;
    margin-right: 20px;

 }
 #nothing{
    width: 100%;
    height: 60px;
 }

 #features {
    display: flex;
    height: 150px;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

 }


 #features header{
    font-size: 1.3rem;
    margin-top: 20px;
    padding: auto;
    margin-bottom: 10px;
 }
#features #email{
    margin-bottom: 15px;
}
#features #submit{
    background-color: rgba(225, 225, 10, 0.813);
    border: rgba(225, 225, 10, 0.813);
    width: 160px;

}

#features div{
    text-align: center;
}
#how-it-work{
    height: 45vh;
    width: 100%;
}

.work-container{

    height: 70%;
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(6,100px);
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "fire tex1"
    "fire premiun"
    "truck text"
    "truck shiping"
    "battery text3"
    "battery quality"
    ;


}
.head-text{
    font-size: 1.3rem;
}
.icon{
    font-size: 3rem;
    color: orange;
}

.text1{grid-area: text1;}
.text2{grid-area: text2;}
.text3{grid-area: text3;}
.premiun-materials{grid-area: premiun;}
.fat-shiping{grid-area: shiping;}
.quality{grid-area: quality;}
.img-fire{grid-area: fire;}
.img-truck{grid-area: truck;}
.img-battery{grid-area: battery;}

#video-informational{
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin-top: -50px;
}
#video{
    height: 500px;
    width: 700px;
    max-height: 40vh;
    max-width: 40vw;
}

#pricing{
    width: 100%;
    height: 450px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#pricing div{
    border: 2px solid black;
    width: 250px;
    height: 300px;
    text-align: center;

}

.title-guitar{
    background-color: rgba(128, 128, 128, 0.44);
    font-size: 1.5rem;
    margin-bottom: 20px

}

.price{
    font-size: 1.3rem; 
    margin-bottom: 10px;
}

#pricing div p:not(.price):not(.bold){
    font-size: 1.1rem;
}

#pricing div button{
    margin-top: 15px;
    font-size: 1.1rem;
    height: 50px;
    width: 50%;
    background-color: rgba(225, 225, 10, 0.813);
}

footer{
    display: flex;
    height: 100px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid gray;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.332);
}

footer div span{
    padding-right: 10px;
    margin: 0 0.1rem;

}

footer div p{
    padding-right: 30px;
    margin-bottom: 20px;

}

@media screen and (max-width:768px)  {

    #how-it-work{
        height: 650px;
    }

    .work-container{
        grid-template-rows: repeat(6,140px);
        grid-template-columns: 50px auto;

    }
    .icon{
        font-size: 2rem;
        margin-left: 10px;
    }
    #pricing div button{
        width: 100%;
        font-size: 15px;
    }

    #video{
        margin : 0 20px;
    }
    #pricing {
       padding:  5px 20px;
       justify-content: space-around;
       align-items: left;
       text-align: left;
    }

    footer div span{
       font-size: 0.7rem;
      margin: 2px;
    }
    
    footer div p{
        font-size: 0.7rem;
        margin-top: 2px;
    }
    #header{
        height: 100px;
    }
    #nav-bar{
        flex-direction: column;
        align-items: center;
        height: 250px;
        
    }
    #nav-bar div{
        border: 1px solid green;
        width: 100px;
        height: auto;
    }

    #nav-bar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    #nav-bar ul li .nav-link{
        text-decoration: none;
        font-size: 0.9rem;
      
    }
    .nav-link{
        margin-top: 200px;
    }

    #nav-bar ul li{
        padding: 0;
        margin: 0 auto;
        border: 1px solid blue;
        height: auto;
        width: auto;
        margin: 0;
    }
    #nothing{
        display: block;
    }

}